<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="cells-amount-list-styles.html">
<link rel="import" href="../cells-atom-amount/cells-atom-amount.html">
<link rel="import" href="../cells-i18n-behavior/cells-i18n-behavior.html">

<!--
`<cells-amount-list>` component to show a list of amounts with label and quantity. It has the option
to add primary, seconday and tertiary labels. Also can show a highlight of the label and quantity.

Example:

```html
<cells-amount-list></cells-amount-list>
```

## Styling

The following custom properties and mixins are available for styling:

| Custom property | Description     | Default        |
|:----------------|:----------------|:--------------:|
|--cells-amount-list-scope      | scope description | default value  |
|--cells-amount-list-list_item  | item of the list     | {}             |
|--cells-amount-list-item_label  | label of the item     | {}             |
|--cells-amount-list-item-final  | final label and amount wrapper     | {}             |
|--cells-amount-list-final_amount  | final amount     | {}             |
|--cells-amount-list-item_label-final  | final label    | {}             |
|--cells-amount-list-final  | final wrapper     | {}             |
|--cells-amount-list-triangle-primary_color_helper  | primary triangle color|--bbva-core-blue, #004481         |
|--cells-amount-list-triangle-secondary_color_helper  | secondary triangle color|--bbva-medium-blue, #2A86CA             |
|--cells-amount-list-triangle-tertiary_color_helper  | tertiary triangle color|--bbva-light-yellow, #FADE8E             |
|--cells-amount-list-highlight_helper  | highlight a section| uppercase, bold|
|--cells-amount-list-border_helper  | add a border top     |  {} | 


@demo demo/index.html
-->
<dom-module id="cells-amount-list">
  <template>
    <style include="cells-amount-list-styles cells-amount-list-shared-styles"></style>
    
    <div class="list">
      <template is="dom-repeat" items="[[items]]">
        <div class$="[[item.css]] list_item">
          <span class="list_item_label">[[item.key]]</span>
          <cells-atom-amount
            amount="[[item.value.amount]]"
            currency-code="[[item.value.currency]]"
            local-currency="[[item.value.localCurrency]]"
            >
          </cells-atom-amount>
        </div>
      </template>
      <template is="dom-if" if="[[_checkedValue(final)]]">
        <div class$="[[final.css]] list_final">
          <div class="list_item list_item-final">
            <span class="list_item_label list_item_label-final">[[final.key]]</span>
            <span class="list_final_amount">
              <cells-atom-amount
                amount="[[final.value.amount]]"
                currency-code="[[final.value.currency]]"
                local-currency="[[final.value.localCurrency]]"
                >
              </cells-atom-amount>  
            </span>
          </div>
        </div>
      </template>
    </div>
    
    <content></content>
  </template>
  <script src="cells-amount-list.js"></script>
</dom-module>
