@import "bower_components/cells-sass/main";

:host {
  @apply(--cells-amount-list);
}
$pimary_blue: var(--bbva-core-blue, #004481);
$secondary_blue: var(--bbva-medium-blue, #2A86CA);
$primary_yellow: var(--bbva-light-yellow, #FADE8E);

@mixin triangle ($color) {
  border-bottom: 1rem solid transparent;
  border-left: 1rem solid $color;
  border-top:  1rem transparent;
  content: '';
  transform: rotate(360deg);
  align-self: flex-start;
  margin-right: 0.2rem;
  @apply(--cells-amount-list-triangle-mixin);
}
.list_item {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  @apply(--cells-amount-list-list_item);
  &.mobile {
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.list_item_label {
  flex: 1;
  display: flex;
  align-items: flex-end;
  @apply(--cells-amount-list-item_label);
}
.list_final_amount {
  font-size: 1.3rem;
  @apply(--cells-amount-list-final_amount);
}
.list_item-final {
  flex: 1;
  @apply(--cells-amount-list-item-final);
}
.list_item_label-final {
  font-size: 0.7rem;
  @apply(--cells-amount-list-item_label-final);
}
.list_final {
  display: flex;
  @apply(--cells-amount-list-final);
}
.primary:before {
  @include triangle($pimary_blue);
  @apply(--cells-amount-list-triangle-primary_color_helper);
}
.secondary:before {
  @include triangle($secondary_blue);
  @apply(--cells-amount-list-triangle-secondary_color_helper);
}
.tertiary:before {
  @include triangle($primary_yellow);
  @apply(--cells-amount-list-triangle-tertiary_color_helper);
}
.highlight {
  text-transform: uppercase;
  font-weight: 500;
  @apply(--cells-amount-list-highlight_helper); 
}
.border {
  border-top: 1px solid gray;
  padding-top: 1rem;
  @apply(--cells-amount-list-border_helper);
}