<dom-module id="cells-amount-list-styles"><template><style>
:host {
  display: block;
  font-family: var(--cells-fontDefault, --fontDefault);
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

:host {
  @apply (--cells-amount-list); }

.list_item {
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1rem;
  @apply (--cells-amount-list-list_item); }
  .list_item.mobile {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.list_item_label {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  @apply (--cells-amount-list-item_label); }

.list_final_amount {
  font-size: 1.3rem;
  @apply (--cells-amount-list-final_amount); }

.list_item-final {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  @apply (--cells-amount-list-item-final); }

.list_item_label-final {
  font-size: 0.7rem;
  @apply (--cells-amount-list-item_label-final); }

.list_final {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  @apply (--cells-amount-list-final); }

.primary:before {
  border-bottom: 1rem solid transparent;
  border-left: 1rem solid var(--bbva-core-blue, #004481);
  border-top: 1rem transparent;
  content: '';
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
  margin-right: 0.2rem;
  @apply (--cells-amount-list-triangle-mixin);
  @apply (--cells-amount-list-triangle-primary_color_helper); }

.secondary:before {
  border-bottom: 1rem solid transparent;
  border-left: 1rem solid var(--bbva-medium-blue, #2A86CA);
  border-top: 1rem transparent;
  content: '';
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
  margin-right: 0.2rem;
  @apply (--cells-amount-list-triangle-mixin);
  @apply (--cells-amount-list-triangle-secondary_color_helper); }

.tertiary:before {
  border-bottom: 1rem solid transparent;
  border-left: 1rem solid var(--bbva-light-yellow, #FADE8E);
  border-top: 1rem transparent;
  content: '';
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
  margin-right: 0.2rem;
  @apply (--cells-amount-list-triangle-mixin);
  @apply (--cells-amount-list-triangle-tertiary_color_helper); }

.highlight {
  text-transform: uppercase;
  font-weight: 500;
  @apply (--cells-amount-list-highlight_helper); }

.border {
  border-top: 1px solid gray;
  padding-top: 1rem;
  @apply (--cells-amount-list-border_helper); }

</style></template></dom-module>