<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <title>Demo cells-amount-list</title>
    
    <script src="js/I18nMsg.js"></script>
    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href='../../cells-theme-base/theme-base.html'>
    <link rel="import" href='../../cells-glomo-theme/cells-glomo-theme.html'>
    <link rel="import" href="../../cells-icons/cells-icons.html">
    <link rel="import" href="../cells-amount-list.html">
    <link rel="import" href="css/demo-styles.html">
    <link rel="import" href="../../cells-panel-collapse/cells-panel-collapse.html">
    <link rel="import" href="../../iron-media-query/iron-media-query.html">
    <style is="custom-style">
        :root {
          --cells-panel-collapse__panel__detail: {
            background-color: #F4F4F4;
          }
        }
        .wrapper {
          display: flex;
          justify-content: space-between;
        }
        .wrapper.mobile {
          flex-direction: column;
        }
        .wrapper-left {
          flex-grow: 0.5;
        }
        .wrapper-right {
          flex-grow: 0.4;
        }
        .wrapper-right.mobile {
          margin-top: 1.5rem;
        }
    </style>
  </head>
  <body unresolved ontouchstart>
    <template is="dom-bind" id="tbind">
        <iron-media-query query="(max-width: 48rem)" query-matches="{{isMobile}}"></iron-media-query>
        <!-- language selector: i18n purpose -->
        <div class="lang-selector">
          <label class="lang" for="selector">Lang</label>
          <select class="selector" id="selector" on-change="changeLang">
            <option selected>en</option>
            <option>es</option>
            <!-- include as many languages you have: /locales/*.json -->
          </select>
        </div>
        <!-- .end of language selector -->
          <cells-panel-collapse
          title="Balance de detalle">
            <div class$="wrapper [[checkedMobile(isMobile)]]">
              <div class="wrapper-left">
                <cells-amount-list id="demo" class="demo" items="[[items]]" final="[[final]]">
                </cells-amount-list>
              </div>
              <div class$="wrapper-right  [[checkedMobile(isMobile)]]">
                <cells-amount-list id="demo2" class="demo2" items="[[items]]">
              </div>
              </cells-amount-list>
            </div>
          </cells-panel-collapse>
  
    </template>
    <script src="js/demo.js"></script>
  </body>
</html>
